.container{
    width: 270px;
    height: 200px;
    background-color: #76FBDC;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    color: #141B1F;
}

h5{
    text-align: start;
    margin-left: 15px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        width: 140px;
        height: 140px;
    }
}